/*Global*/
html{
	scroll-behavior: smooth;
}
body{
	background-color: white;
}
a,h1,h2,h3,h4,h5,p,ul,li{
	color:#5d5d5d;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}

/*Main Styles Starts Here */
.row{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}
.header{
	max-width: 100%;
	border-bottom: 1px solid rgba(56, 56, 56, 0.2);
}
.header .row{
	display: flex;
	align-items: center;
	padding: 10px 0 ;
}
.header .row #logo{
	/*float: left;*/
	height: 75px;
	width: 37px;
	background: url(img/1.jpg) no-repeat;
	transition: 1s ease-in-out;
	margin: 0 auto;
}

.header .row #logo:hover {
	background: url(img/2.jpg) no-repeat;
	transition: 0.5s ease-in-out;
}

.header .row .contact-me{
	display: flex;
	justify-content: flex-end;
	width: 95%;
	flex: wrap;
}
.header .row .contact-me a{
	margin-right: 10px;
}
/*git*/
.header .row .contact-me a:nth-child(1):hover{
	color:white;
	background-color:grey;
}
/*fb*/
.header .row .contact-me a:nth-child(2):hover{
	color:#3b5998;
}
/*twitter*/
.header .row .contact-me a:nth-child(3):hover{
	color:#00ACEE;
}
.about .row{
	margin-top:150px;
}
.about .row h1{
	font-family: Monaco,Consolas,Lucida Console,monospace;
	font-size: 4.5em;
}

.about .row p{
	font-weight: 200;
	font-size: 1.6em;
	line-height: 40px;
	color: #525f7f;
	margin: 40px 0;
	width: 66%;
}


/*about*/
#about {
	padding:75px 0 100px;
}
#about .header{
	margin: 0;
	height: 50px;
	background-color: #e4e3e5;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 95%;
	padding:6px 0 6px 20px;

}
#about .header:hover .red p,  #about .header:hover .yellow p,  #about .header:hover .green p{
	display: inline-block;
}
#about div{
	margin: 5px;
}
#about .header .red{
	background-color: #f96256;
	border: 1px solid #f65549;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
#about .header .yellow{
	background-color: #fdbc3d;
	border: 1px solid #ffb524;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
#about .header .green{
	background-color: #33c948;
	border: 1px solid #2dbb41;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}
#about .content{
	padding:50px 10px;
	margin: 0;
	background-color: #5a5d7a;
	border-radius: 0 0 10px 10px;
	font-family: Monaco,Consolas,Lucida Console,monospace;
	width: 95%;
	background-color: #5a5d7a;
	box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
}
#about .content span{
	color:white;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 50px;
}
#about .content .m{
	color:#89CFF0;
}
#about .content .m1{
	color:#35feff;
}
#about .content .n{
	color:#e7d184;
}
#about .content p{
	width: 100%;
	padding-left: 20px;
}

/*projects*/
.project .row h2{
	text-align: center;
}

.project .row h3, .project .row p{
	font-family: 'Inconsolata', monospace;
}

.project .row p{
	padding-left: 3em;
}