#qrcode {
  width: 160px;
  height: 160px;
  margin-top: 15px;
}

.qrcontainer #canvas {
  border: 1px solid red;
}

.qrcontainer .logo {
  top: 135px;
  left: 95px;
  position: absolute;
}
