#qrcode {
  width: 256px;
  height: 256px;
  margin-top: 15px;
  position: relative;
  padding: 10px;
  border: 2px solid red;
}

.qrcontainer {
  display: none;
}

.qrcontainer #canvas {
  border: 1px solid red;
}

#img2 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
